@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --font-family: "Nunito", sans-serif;
  --color-yellow: #f4e041;
  --color-blue: #00bdd3;
  --color-gray: #545454;
  --color-light-gray”: #f8f8f8;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.centerButton {
  display: flex;
  justify-content: center;
}
.app__background {
  background: #e5e5e5;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}
